

.Container {
  font: 100%/1.75 'Merriweather';
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TimerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 10vw;
}
@media screen and (min-width: 1024px) {
    .TimerContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 8vw;
    }
}

.TimerButtons {
    font: 100%/1.75 'Merriweather';
    display: flex;
    justify-content: space-between;
}

#edit {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

#paper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 15%;
  padding: 2%;
  margin-bottom: 40%;
}

#snooze {
    background-color: rebeccapurple;
    position: relative;
}

#counter {
    font-size: 25%;
}

.timefield{
    padding: 10%;
}