

.Container {
  font: 100%/1.75 'Merriweather';
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TimerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 10vw;
}

.TimerButtons {
    font: 100%/1.75 'Merriweather';
    display: flex;
    justify-content: space-between;
}